$myColor-1: #ecf3ff;
$myColor-2: #ecf3ff99;
$black-80: #181818;
$black-50: #787878;
.containerChat {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  border: 2px solid $myColor-1;
  .infoPeople {
    width: 100%;
    height: 30px;
    background-color: $myColor-1;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    img {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  .chatPeople {
    width: 100%;
    background-color: white;
    flex: 1 1 auto;
    padding: 20px;
    overflow: auto;

    .itemChat {
      display: flex;
      width: 100%;
      flex-direction: column;
      span {
        font-size: 10px;
      }
      p {
        font-size: 15px;
        margin: 1px;
      }
    }
  }
  form {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: $myColor-1;
    flex: 0 1 auto;
    input {
      width: 50%;
      height: 100%;
      outline: none;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
      overflow: hidden;
      border: 0.5px solid yellowgreen;
      &:hover {
        border: 0.5px solid yellow;
      }
    }
    button {
      width: 45px;
      height: 30px;
      font-size: 10px;
    }
  }
}

@media (max-width: 425px) {
  .containerChat {
    height: 300px;
  }
}
