.containerMyPage {
  padding-top: 50px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .itemsPage {
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .containerMyPage {
    .itemsPage {
      width: 100%;
    }
  }
}
