//sass --watch navbar.scss navbar.css
$myColor-1: #ecf3ff;
$myColor-2: #ecf3ff99;
$black-80: #181818;
$black-50: #787878;
$myRed: rgb(255 64 129);
.header {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.imgIcon {
  width: 26px;
  position: absolute;
  z-index: 20;
  left: 16px;
  top: 16px;
  cursor: pointer;
  border: none;
  display: none;
  &:hover {
    transition: 0.5s;
    border: 1px solid $myColor-1;
  }
}
.nav_links {
  background-color: $myColor-1;
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 19;
  position: absolute;
  a {
    border-radius: 5px;
    text-decoration: none;
    color: $black-80;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $black-50;
      transition: 0.5s;
    }
  }
}

@media (max-width: 425px) {
  .imgIcon {
    display: block;
  }
  .openNav {
    color: $black-50;
  }
}

.openNav {
  width: 100%;
  height: 300px;
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $myColor-1;
  position: absolute;
  z-index: 19;
  transition: 2s;
  a {
    text-decoration: none;
    color: $black-80;
    user-select: none;
    font-size: 13px;
    cursor: pointer;
    &:hover {
      color: $black-80;
      transition: 0.5s;
    }
  }
}
