//sass --watch navbar.scss navbar.css
$gray-blue: #ecf3ff99;
$c-series: #f2f2f2;
$myRed: rgb(255 64 129);

.containerNavbar {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: cornflowerblue;
  height: 50px;
  position: relative;
  .imgIcon {
    width: 26px;
    position: absolute;
    z-index: 20;
    left: 16px;
    top: 13px;
    cursor: pointer;
    border: none;
    &:hover {
      transition: 0.5s;
      border: 1px solid $gray-blue;
    }
  }
  .openMenu {
    width: 250px;
    height: 300px;
    display: block;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: $gray-blue;
    position: absolute;
    z-index: 19;
    transition: 1s;
    top: 49px;
    border: 1px solid cornflowerblue;
    .navbar {
      width: 100%;
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      background-color: white;
      height: 200px;
      align-items: flex-start;
      a {
        border-radius: 5px;
        text-decoration: none;
        color: black;
        font-size: 13px;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: black;
          transition: 0.5s;
        }
      }
    }
  }
}

.closeMenu {
  display: none;
}

// @media (max-width: 425px) {
// }
