$primary: #3f51b5;
.contAuth {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 92vh;
  justify-content: center;
  .switchBtn {
    width: 100%;
    height: 100%;
    button {
      margin-top: 40px;
      border: none;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
}
@media (max-width: 420px) {
  .contAuth {
    width: 100%;
    height: 100%;
    padding-top: 0px;
  }
}
