$myColor-3: #d5e2f899;
$black-80: #181818;
$black-50: hsl(0, 0%, 47%);
$primary: #3f51b5;
$gray-blue: #ecf3ff99;
$c-series: #f2f2f2;
.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 340px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  .input {
    width: 100%;
    margin: 10px 0 10px 0;
    border: 0.5px solid $c-series;
    &:focus {
      outline: none;
    }
  }
  .registerBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      margin: 4px;
      border: none;
      background-color: $primary;
      color: white;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
}
h1 {
  color: $primary;
  font-weight: 200px;
  font-size: 15px;
}
@media (max-width: 425px) {
  .authForm {
    align-items: center;
    width: 95%;
  }
}
